<% provide(:title, "Docker Tutorials") %>
<div class="jumbotron">
  <h1>Docker</h1>
  <p>Here is a collection of things that I learned while using 
    <%= link_to 'Docker', 'http://docker.com', target: '_blank' %> 
    that I thought could make it easier for someone else to get started using the amazing platform. 
  </p>

  <ul>
    <li>
      <%= link_to 'Getting Started - The Basics', docker_basics_path %>
    </li>
  </ul>
</div>